
<h1>Adopt a Tamagotchi!</h1>


<div class="form">
  <form action="/adopt" method="post">
    <div class="form-group">
      <label for="name">Name your new pet:</label>
      <input type="text" id="name" name="name">
    </div>
    <button class="btn btn-primary" action="submit">I'm alive!</button>
  </form>
</div>
